@charset "windows-1251";

/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
	padding-right: 15px;
	padding-left: 15px; /* добавление боковых полей к элементам внутри контейнеров DIV, а не к самим контейнерам избавляет от необходимости расчетов рамочной модели. В качестве альтернативы можно использовать вложенный контейнер DIV с боковыми полями. */
}
a img { /* этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка */
	border: none;
}

/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	background-image:url(images/bg_img.png);
	margin: 0;
	padding: 0;
	color: #000;
	width:1140px;
}

/*////////////////////////////// HEADER //////////////////////////////*/

#header {
	background:url(images/header_slice.png) repeat-x;
	height:59px;
}

#header a {
	display:inline-block;
	text-decoration:none;
	color:#6A87A3;
	border-left:1px solid #6A87A3;
	padding-left:11px; 
	padding-right:8px;
}

#header a:first-child{
	border-left:none;
}

#header_left {
	margin:20px 0 20px 70px;
	display:inline-block;
	float:left;
	line-height:10px;
	font-size:10px;
	color:#485766;
	width:400px;
}

#header_right{
	float:right;
	margin:10px 70px 10px 0;
}

#header_right img{
	margin:8px 8px 8px 0;
}

#search {
	float:right;
	background-color:#111213;
	border:1px solid #292D30;
	border-radius:10px;
	width:184px;
	height:31px;
	color:#485766;
	line-height:31px;
	padding-left:10px;
	margin-left:8px;	
}

#search img{
	margin:0px;
	float:right;
	padding:5px 5px 5px 0;
}

/*////////////////////////////// MENU //////////////////////////////*/

#menu {
	height:108px;
	width:1005px;
	margin:0 auto;
	line-height:108px;
}

#menu ul{
	display:block;
	float:right;
}

#menu ul li{
	display:inline;
	margin-left:10px;
	padding:11px 14px 11px 14px;
	border-radius:10px;
	color:#7A8090;
	
}

#menu ul li:hover{
	background-color:rgba(0, 0, 0, 0.15);
	color:#FFF;
}

#menu img{
	display:inline-block;
	float:left;
	margin:20px 0;
}

#menu a{
	text-decoration:none;
	color:inherit;	/*Параметр унаследован т.к. hover обрабатывается в теге li*/
	font-weight:700;
	font-size:0.95em;
	text-shadow: 1px 1px 2px black; /* Параметры тени */	
}

/*////////////////////////////// CONTENT //////////////////////////////*/

#container {
	border:10px solid transparent;
	-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.15); 
	/*Прозрачная граница из тени box-shadow:<сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
	background:#EAFBFF;
	height:100px;
	width:948px;
	margin:20px auto;
}

/*////////////////////////////// FOOTER //////////////////////////////*/

#footer {
	margin-top:40px;
	height:284px;
}

#footer_top {
	background:#0F131F;
	border-bottom:1px #040507 solid;
	height:224px;	
}

#footer_bot {
	background:#040507;
	border-top:1px #181F31 solid;
	height:60px;
}

#footer_top {
	background:#0F131F;
	border-bottom:1px #040507 solid;
	height:224px;	
}

#footer_top div{
	border:#F00 1px solid;
	display:inline-block;
	vertical-align:top;	
	margin:34px 26px 31px 26px;	
}

#footer_top h3{
	color:#8C94AC;
	font-size:16px;
	font-weight:900;
	padding-left:0px;	
}

.f-list:first-child{
	margin-left:70px !important;	
}

.f-list{
	background:#06F;	
}

#f-gallery {
/*	background-color:#FF6;	*/
}

#f-gallery table{
	width:245px;
	/*background-color:#039;*/
	border:none;
	margin:0 5px 0 5px;
}

#f-gallery table img{
	margin:5px;
}

#f-twitter {
	float:right;
	margin-right:70px !important;
	width:304px;
	background:#033;	
}