@charset "windows-1251";

/* ~~ —електоры элементов/тегов ~~ */
ul, ol, dl { /* »з-за различий между браузерами рекомендуетс€ обнул€ть пол€ в списках. ƒл€ согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. ѕомните, что сделанное здесь последовательно включаетс€ в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* удаление верхнего пол€ позвол€ет обойти проблему выхода полей за границы содержащего их контейнера DIV. ќставшеес€ нижнее поле отделит его от любых последующих элементов. */
	padding-right: 15px;
	padding-left: 15px; /* добавление боковых полей к элементам внутри контейнеров DIV, а не к самим контейнерам избавл€ет от необходимости расчетов рамочной модели. ¬ качестве альтернативы можно использовать вложенный контейнер DIV с боковыми пол€ми. */
}
a img { /* этот селектор убирает стандартную синюю рамку, котора€ по€вл€етс€ у изображений в некоторых браузерах, если вокруг изображени€ есть ссылка */
	border: none;
}

/* ~~ ќформление ссылок на вашем сайте должно оставатьс€ в этом пор€дке, включа€ группу селекторов, создающих эффект наведени€. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* если только ссылки не должны выгл€деть исключительно своеобразно, то дл€ быстрого зрительного распознавани€ рекомендуетс€ использовать подчеркивание */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведени€, как и при использовании мыши. */
	text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	background-image:url(images/bg_img.png);
	margin: 0;
	padding: 0;
	color: #000;
	width:1258px;
}

#header {
	background:url(images/header_slice.png) repeat-x;
	height:59px;	
}

#menu {
	height:108px;
	width:1005px;
	margin:0 auto;
	line-height:108px;
}

#menu ul{
	display:block;
	float:right;
}

#menu ul li{
	display:inline;
	margin-left:24px;
	padding:11px 14px 11px 14px;
	border-radius:10px;
	color:#7A8090;
	
}

#menu ul li:hover{
	background-color:rgba(0, 0, 0, 0.15);
	color:#FFF;
}

#menu img{
	display:inline-block;
	float:left;
	margin:20px 0;
}

#menu a{
	text-decoration:none;
	color:inherit;	/*ѕараметр унаследован т.к. hover обрабатываетс€ в теге li*/
	font-weight:700;
	font-size:0.95em;
	text-shadow: 1px 1px 2px black; /* ѕараметры тени */	
}

#container {
	border:10px solid transparent;
	-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.15); 
	/*ѕрозрачна€ граница из тени box-shadow:<сдвиг по x> <сдвиг по y> <радиус размыти€> <раст€жение> <цвет>*/
	background:#EAFBFF;
	height:100px;
	width:948px;
	margin:20px auto;
}

#footer {
	margin-top:40px;
	height:284px;
}

#footer_top {
	background:#0F131F;
	border-bottom:1px #040507 solid;
	height:224px;	
}

#footer_bot {
	background:#040507;
	border-top:1px #181F31 solid;
	height:60px;
}