@charset "windows-1251";

/* ~~ —електоры элементов/тегов ~~ */
ul, ol, dl { /* »з-за различий между браузерами рекомендуетс€ обнул€ть пол€ в списках. ƒл€ согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. ѕомните, что сделанное здесь последовательно включаетс€ в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* удаление верхнего пол€ позвол€ет обойти проблему выхода полей за границы содержащего их контейнера DIV. ќставшеес€ нижнее поле отделит его от любых последующих элементов. */
}
a img { /* этот селектор убирает стандартную синюю рамку, котора€ по€вл€етс€ у изображений в некоторых браузерах, если вокруг изображени€ есть ссылка */
	border: none;
}

/* ~~ ќформление ссылок на вашем сайте должно оставатьс€ в этом пор€дке, включа€ группу селекторов, создающих эффект наведени€. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* если только ссылки не должны выгл€деть исключительно своеобразно, то дл€ быстрого зрительного распознавани€ рекомендуетс€ использовать подчеркивание */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведени€, как и при использовании мыши. */
	text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #4E5869;
	background-image:url(images/bg_img.png);
	margin: 0;
	padding: 0;
	color: #000;
	width:1140px;
}

/*////////////////////////////// HEADER //////////////////////////////*/

#header {
	background:url(images/header_slice.png) repeat-x;
	height:59px;
}

#header_left a {
	display:inline-block;
	text-decoration:none;
	color:#6A87A3;
	border-left:1px solid #6A87A3;
	padding-left:11px; 
	padding-right:8px;
}

#header a:first-child{
	border-left:none;
}

#header a:hover{
	color:#98AFC5;
}

#header_left {
	margin:20px 0 20px 70px;
	display:inline-block;
	float:left;
	line-height:10px;
	font-size:10px;
	color:#485766;
	width:400px;
}

#header_right{
	float:right;
	margin:10px 70px 10px 0;
}

#header_right img{
	margin:8px 8px 8px 0;
}
#header_right img:hover{
	-webkit-box-shadow: 0px 0px 15px -1px #FFF; 
}

#search {
	float:right;
	background-color:#111213;
	border:1px solid #292D30;
	border-radius:10px;
	width:184px;
	height:31px;
	color:#485766;
	line-height:31px;
	padding-left:10px;
	margin-left:8px;	
}

#search img{
	margin:0px;
	float:right;
	padding:5px 5px 5px 0;
}

/*////////////////////////////// MENU //////////////////////////////*/

#menu {
	height:108px;
	width:1005px;
	margin:0 auto;
	line-height:108px;
}

#menu ul{
	display:block;
	float:right;
}

#menu ul li{
	display:inline;
	margin-left:10px;
	padding:11px 14px 11px 14px;
	border-radius:10px;
	color:#7A8090;
	
}

#menu ul li:hover{
	background-color:rgba(0, 0, 0, 0.15);
	color:#FFF;
}

#menu img{
	display:inline-block;
	float:left;
	margin:20px 0;
}

#menu a{
	text-decoration:none;
	color:inherit;	/*ѕараметр унаследован т.к. hover обрабатываетс€ в теге li*/
	font-weight:700;
	font-size:0.95em;
	text-shadow: 1px 1px 2px black; /* ѕараметры тени */	
}

/*////////////////////////////// CONTENT //////////////////////////////*/

#container {
	border:10px solid transparent;
	-webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.15); 
	/*ѕрозрачна€ граница из тени box-shadow:<сдвиг по x> <сдвиг по y> <радиус размыти€> <раст€жение> <цвет>*/
	background:#EAFBFF;
	height:100px;
	width:948px;
	margin:20px auto;
}

/*////////////////////////////// FOOTER //////////////////////////////*/

#footer {
	margin-top:40px;
	height:284px;
}

#footer_top {
	background:#0F131F;
	border-bottom:1px #040507 solid;
	height:224px;
}

#footer_bot {
	background:#040507;
	border-top:1px #181F31 solid;
	height:60px;
	line-height:60px;
	color:#6A7796;
	font-size:11px;	
}

#footer_top {
	background:#0F131F;
	border-bottom:1px #040507 solid;
	height:224px;	
}

#footer_top>div{
	display:inline-block;
	vertical-align:top;	
	margin:34px 26px 31px 26px;	
}

#footer_top h3{
	color:#8C94AC;
	font-size:16px;
	font-weight:900;
	padding-left:0px;
	margin-bottom:18px;	
}

.f-list:first-child{
	margin-left:66px !important;	
}
/*////////////// F-LIST //////////////*/

.f-list ul li{
	line-height:1.3;
}

.f-list a{
	text-decoration:none;
	color:#606574;
	font-size:13px;
}

.f-list a:hover{
	color:#767C8D;
}


/*////////////// F-GALLERY //////////////*/
#f-gallery {
	width:253px;
	font-size:0px;
}

.fg_img{
	display:inline-block;
	height:41px;
	padding:4px;
	margin:5px;
	border:#252C3E 1px solid;
	background-color:#191F2F;
}

.fg_img:hover{
	background-color:#3B445B;
	border:#090C15 1px solid;
}

.fgi_left {
	margin-left:0px;
}

.fgi_right {
	margin-right:0px;
}
/*////////////// F-TWITTER //////////////*/
#f-twitter {
	float:right;
	margin-right:66px !important;
	width:307px;	
}

#f-twitter h3{
	float:left;
}

#tw_bird{
	float:right;
}

#tw_bird img{
	vertical-align:bottom;
}

#tw_block{
	clear:both;
	background-color:#191F2F;
	border-radius:10px;	
	text-decoration:none;
	color:#417893;
	font-size:13px;
	padding:16px;
}

#tw_block p{
	margin-top:10px;
	font-size:10px;
}

#tw_block q{
	color:#305465;
}

#f-twitter a{
	text-decoration:none;
	color:#B8E2F6;	
}

#f-twitter a:hover{
	color:#FFF;
}
/*////////////// FOOTER BOTTOM //////////////*/

#footer_bot p{
	display:inline-block;
	float:left;
	margin-left:66px;
}

#footer_bot ul{
	float:right;
	margin-right:66px;
}

#footer_bot ul li{
	display:inline-block;
	border-left:1px solid #6A7796;
	line-height:10px;
	padding:0 10px 0 10px;
}

#footer_bot ul li:first-child{
	border-left:none;
}

#footer_bot a{
	text-decoration:none;
	color:#6A7796;
}

#footer_bot a:hover{
	text-decoration:none;
	color:#9AA3B9;
}